/* font links  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Common utilities  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #161616;
    --main-color: #fff;
    --button-color: #DD0000;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 50px 60px;
    border-radius: 30px;
    background-color: var(--background-color);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-left {
    color: var(--main-color);
    padding: 90px 0px 90px 90px;
}

.header-left h1 {
    font-size: 70px;
    line-height: 70px;
}

span {
    color: var(--button-color);
}

.header-left p {
    font-size: 16px;
    line-height: 26px;
    padding: 20px 0 30px 0;
    font-weight: 300;
    text-align: justify;

}

.header-left a {
    text-decoration: none;
    background-color: var(--button-color);
    padding: 15px 30px;
    color: var(--main-color);
    border-radius: 5px;
}

.fa-arrow-right {
    margin-left: 10px;
}

.header-right {
    padding: 30px 0px 0px 30px;
}

.header-right img {
    width: 500px;
    top: 43px;
}
.header-right img:hover{
    transition: 2s;
    transform: translate(20px, 0);
}
/* header end  */

.hero {

    display: grid;
    margin: 50px 60px;
    grid-gap: 25px;
    grid-template-columns: 3fr 9fr;
}

.buttons {
    border-radius: 10px;
    background-color: var(--background-color);
    display: flex;
    padding: 20px 0px;
    align-items: center;
    flex-direction: column;
}

.buttons a {
    text-decoration: none;
    background-color: var(--button-color);
    width: 160px;
    height: 50px;
    padding: 13px 0 0 0;
    text-align: center;
    align-items: center;
    margin: 15px 10px;
    color: var(--background-color);
    background-color: var(--main-color);
    border-radius: 5px;
}

#special-button {
    background-color: var(--button-color);
    color: var(--main-color);
}

.buttons a:hover {
    box-shadow: 0px 0px 5px 1px #000;
}

.matches {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}

.match {
    padding: 20px 0;
    width: 312px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.match-banner {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 312px;
    align-items: center;
}

.match-details {
    text-align: center;
    padding: 20px 10px;
}

.match-details h3 {
    padding: 15px 0px;
}

.match-details p {
    font-size: 16px;
    color: #B9B9B9;
}

/* hero section end  */
footer {
    background-color: #161616;
    display: grid;
    padding: 50px;
    grid-template-columns: 2fr 8fr 2fr;
    text-align: center;
}

.footer-details h1 {
    font-size: 45px;
    color: #fff;
}

hr {
    color: #B9B9B9;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-links p {
    color: #B9B9B9;
    font-size: 16px;
    padding: 0px 15px;

}
.social a{
    color: #fff;
    font-size: 24px;
    padding: 10px 15px;
}
.social a:hover{
    color: #d4d4d4;
    font-size: 26px;
}





















/* media quary  */
 /* large device  */
 @media only screen and (min-width: 1585px) {
    .header-left {
        padding: 28px 58px 21px 80px;
    }
    .header-left h1{
        font-size: 100px;
        line-height: 100px;
        font-weight: 700;
    }
    .header-left p{
        font-size: 22px;
        text-align: justify;
        padding: 40px 0 50px 0;
        line-height:32px ;
    }
    .header-left a{
        padding: 20px 40px;
        font-size: 14px;
    }
    .header-right img{
        width: 600px;
        position: relative;
        top: 7px;
    }
}
/* mobile device  */
@media only screen and (max-width:688px) {

    header {
        margin: 10px 20px;
        border-radius: 15px;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-left {
        order: 1;
        text-align: center;
        padding: 28px 38px 21px 38px;
    }

    .header-left h1 {
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
    }

    .header-left p {
        font-size: 14px;
        text-align: justify;
        line-height: 24px;
    }

    .header-left a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .header-right {
        order: 2;
        text-align: center;
        padding: 0px;

    }

    .header-right img {
        width: 250px;
        position: relative;
        top: 7px;
    }
    /* header end  */
    .hero{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .matches {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttons{
        background-color: #fff;
    }
    .buttons a{
        border: 1px solid #B9B9B9;
    }
    #special-button{
        border: none;
    }
    /* hero end  */
    footer{
        display: flex;
        flex-direction: column;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
    }
}
/* tab device  */
@media only screen and (min-width: 689px) and (max-width:1024px){

    header {
        margin: 10px 20px;
        border-radius: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .header-left {
        padding: 28px 38px 21px 38px;
    }

    .header-left h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }

    .header-left p {
        font-size: 14px;
        line-height: 26px;
    }

    .header-left a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .header-right {
        order: 2;
        text-align: center;
        padding: 0px;

    }

    .header-right img {
        width: 335px;
        position: relative;
        top: 7px;
    }
    .hero{
        display: flex;
        align-items: center;
        margin: 50px 20px;
        flex-direction: column;
    }
    .buttons {
        justify-content: center;
        display: flex;
        padding: 0;
        background-color: #fff;
        flex-direction: row;
    }
    .buttons a{
        border: 1px solid #B9B9B9;
    }
    .matches {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }
    /* hero end  */
    .footer-details h1{
        font-size: 32px;
    }
    .footer-details p{
        font-size: 9px;
    }
    .social a{
        font-size: 16px;
    }

}