/* font links  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Common utilities  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #161616;
    --main-color: #fff;
    --button-color: #DD0000;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    margin: 50px 60px;
    border-radius: 30px;
    background-color: var(--background-color);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-left {
    color: var(--main-color);
    padding: 90px 0px 90px 90px;
}

.header-left h1 {
    font-size: 70px;
    line-height: 70px;
}

span {
    color: var(--button-color);
}

.header-left p {
    font-size: 16px;
    line-height: 26px;
    padding: 20px 0 30px 0;
    font-weight: 300;
    text-align: justify;

}

.header-left a {
    text-decoration: none;
    background-color: var(--button-color);
    padding: 15px 30px;
    color: var(--main-color);
    border-radius: 5px;
}

.fa-arrow-right {
    margin-left: 10px;
}

.header-right {
    padding: 30px 0px 0px 30px;
}

.header-right img {
    position: absolute;
    width: 500px;
    top: 43px;
}

/* header end  */

.hero {

    display: grid;
    margin: 50px 60px;
    grid-gap:25px ;
    grid-template-columns: 3fr 9fr;
}

.buttons {
    border-radius: 10px;
    background-color: var(--background-color);
    display: flex;
    padding: 20px 0px;
    align-items: center;
    flex-direction: column;
}

.buttons a {
    text-decoration: none;
    background-color: var(--button-color);
    width: 160px;
    height: 50px;
    padding: 13px 0 0 0;
    text-align: center;
    align-items: center;
    margin: 15px 10px;
    color: var(--background-color);
    background-color: var(--main-color);
    border-radius: 5px;
}

#special-button {
    background-color: var(--button-color);
    color: var(--main-color);
}

.buttons a:hover {
    box-shadow: 0px 0px 5px 1px #000;
}

.hero-right {
}
.matches{
    display: grid;
    margin:;
    grid-gap:25px ;
    grid-template-columns:1fr 1fr 1fr;
}
.match{
    width: 312px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.match-banner{
    display: flex;
    justify-content: center;
    width: 312px;
    align-items: center;
}
.match-details{
    padding: 20px 10px;
}
.match-details a{
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: #161616;
    border: 1px solid #161616;
}
.match-details h4{
    padding: 20px 0px;
}
.match-icons{
    display: flex;
    gap: 50px;
    color: #161616a7;
}
/* hero section end  */
.news-summary{
    display: grid;
    margin: 100px 60px;
    grid-gap:25px ;
    padding: 50px;
    border-radius: 30px;
    background-color: #161616;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 80px;
}

.total-news{
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}
.total-news h2{
    font-size: 28px;
    padding: 20px 0px;
    color: #fff;
}
.total-news i{
    font-size: 50px;
    padding: 0 0 10px 0;
    color: #DD0000;
}
.number{
    border-radius: 9px 9px 0px 0px;
    background-color: #DD0000;
    color: #fff;
}
/* extra end  */
footer{
    background-color:#161616 ;
    display: grid;
    padding: 50px;
    grid-template-columns: 2fr 8fr 2fr;
    text-align: center;
}
.footer-details h1{
    font-size: 45px;
    color: #fff; 
}
hr{
    color: #B9B9B9;
}
.footer-links{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer-links p{
    color:#B9B9B9;
    font-size: 16px;
    padding: 0px 15px;

}
#copyright{
    color: #ff000090;
}






















/* media quary  */
 /* large device  */
@media only screen and (min-width: 1585px) {
    .header-left {
        padding: 28px 58px 21px 80px;
    }
    .header-left h1{
        font-size: 100px;
        line-height: 100px;
        font-weight: 700;
    }
    .header-left p{
        font-size: 22px;
        text-align: justify;
        padding: 40px 0 50px 0;
        line-height:32px ;
    }
    .header-left a{
        padding: 20px 40px;
        font-size: 14px;
    }
    .header-right img{
        width: 600px;
        position: relative;
        top: 7px;
    }
}
@media only screen and (max-width:688px) {

    header {
        margin: 10px 20px;
        border-radius: 15px;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-left {
        order: 1;
        text-align: center;
        padding: 28px 38px 21px 38px;
    }

    .header-left h1 {
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
    }

    .header-left p {
        font-size: 14px;
        text-align: justify;
        line-height: 24px;
    }

    .header-left a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .header-right {
        order: 2;
        text-align: center;
        padding: 0px;

    }

    .header-right img {
        width: 250px;
        position: relative;
        top: 7px;
    }
}